body{
    background: black;
    color: white;
    width: 100;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }

  .header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(41, 25, 25, 0.7)) ,url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
  }

   .lang{
    display: inline-flex;
    align-items: center;
    background: gray;
    border: 1px;
    padding: 7px 10px;
    border-style: solid;
    border-color: rgb(14, 14, 14);
    border-radius: 4px;
    color: rgb(42, 40, 40);
    font-size: 16px;
  }
  .lang img{ 
    width: 10px;
    margin-left: 10px
    
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

  }

  .logo{
    width: 150px;
    cursor: pointer;
  }

  body {
    background-color: #141414;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #f4eded;
    margin-top: 100px;
  }
  
  form {
    background-color: rgba(0,0,0,0.75);
    padding: 65px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  
  h1 {
    margin-top: 0;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #3e3b3b;
    color: #f4eeee;
    font-size: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #e50914;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .remember {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: gray;
  }
  
  .remember input[type="checkbox"] {
    margin-right: 1px;
    color: #3e3b3b;
  }
  
  .remember label {
    font-size: 14px;
    cursor: pointer;
  }

  .signup {
    margin-top: 30px;
  }
  
  .signup a {
    color: #fff;
    text-decoration: underline;

  }
  .signup a:link{
    text-decoration: none;
  }

  .signup a:visited{
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }
  
  .signup p {
    margin: 0;
  }
  
  .features{
    padding: 50px 12%;
    font-size: 22px;
  }
  .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }
    .text-col{
      flex-basis: 50%;
      margin-bottom: 20px;
    }
    .img-col{
      flex-basis: 50%;
      margin-bottom: 20px;
    }
  
    .img-col img{
      display: block;
      width: 90%;
      margin: auto;
    }
  
    .features h2{
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 20px;
         
    }
  .faq{
      padding: 10px 12%;
      text-align: center;
      font-size: 18px;
  }
  .faq h2{
      font-weight: 500;
      font-size: 40px;
  }
  .faq .signup{
      max-width: 600px;
      margin: 20px auto 60px;
  }
   .faq small{
      font-size: 15px;
      font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
   }
   .footer{
      padding: 50px 15% 10px;
      border-top: 6px solid rgb(82, 80, 80);
      color: gray;
   }
  .footer h2{
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 30px;
      color: rgb(232, 232, 232);
  }
  .footer .col{
      flex-basis: 25%;
      flex-grow: 1;
      margin-bottom: 20px;
  }
  .footer .col a{
      display: block;
      text-decoration: none;
      color: grey;
      font-size: 14px;
      margin-bottom: 10px;
  }
  .footer .row{
      align-items: flex-start;
      padding: 10px 0;
  }
  .footer.lang{
      color: white;
      padding: 10px 20px;
      border-radius: 3px;
  }
  .copyright-txt{
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 10px;
  }
  .help{
    cursor: pointer;
    font-size: 13px;
    justify-content: space-between;
    text-align: right;
    margin:  10 20px 20px 30px;
    padding: 20px;
    position: relative;
    
  }
   a .u{
    background-color: gray;
    float: right;
}
a .u:hover{
  text-decoration: underline;
  left: 252px;

}

  .learn{
    font-size: 13px;
    text-align: left;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }
  .signup{
    color: rgb(67, 66, 66);
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    display: block;
    direction: ltr;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }

  
  @media only screen and (max-width: 600px){
    .logo{
        width: 100px;

    }
    nav button{
        padding: 5px 10px;
    }
    nav .lang{
        padding: 4px 8px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .signup button{
        font-size: 12px;
        padding: 10px 15px;
    }
    .text-col, .img-col{
        flex-basis: 100%;

    }
    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 15px;
    }
    .row:nth-child(2), .row:nth-child(4){
     flex-direction: column-reverse;
    } 
    .features .row{
        padding: 10px 0;
    }
    .faq h2{
        font-size: 20px;
    }
    form{
        background-color: rgba(0,0,0,.75);
        border-radius: 4px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px 0 30px;
        width: 100%;
        min-height: 550;
        max-width: 440px;
    }
    }
  

  
  