body{
    background: white;
    color: black;
    width: 100;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px  0;

  }

  .logo{
    width: 150px;
    cursor: pointer; 
  }


  .features{
    padding: 50px 12%;
    font-size: 22px;
  }
  .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }
    .text-col{
      flex-basis: 50%;
      margin-bottom: 20px;
    }
    .img-col{
      flex-basis: 50%;
      margin-bottom: 20px;
    }
  
    .img-col img{
      display: block;
      width: 90%;
      margin: auto;
    }
  
    .features h2{
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 20px;
         
    }
  .faq{
      padding: 10px 12%;
      text-align: center;
      font-size: 18px;
  }
  .faq h2{
      font-weight: 500;
      font-size: 40px;
  }
  .faq .signup{
      max-width: 600px;
      margin: 20px auto 60px;
  }
   .faq small{
      font-size: 15px;
      font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
   }
   .footer{
      padding: 50px 15% 10px;
      border-top: 6px solid rgb(82, 80, 80);
      color: rgb(77, 75, 75);
   }
  .footer h2{
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 30px;
      color: grey;
  }
  .footer .col{
      flex-basis: 25%;
      flex-grow: 1;
      margin-bottom: 20px;
  }
  .footer .col a{
      display: block;
      text-decoration: none;
      color: grey;
      font-size: 14px;
      margin-bottom: 10px;
  }
  .footer .row{
      align-items: flex-start;
      padding: 10px 0;
  }
  .footer.lang{
      color: rgb(83, 78, 78);
      padding: 10px 20px;
      border-radius: 3px;
  }
  .copyright-txt{
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 10px;
  }
  button.lang{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px;
    padding: 7px 10px;
    border-style: solid;
    border-color:gray;
    border-radius: 4px;
    color:gray;
    box-sizing: border-box;
    
  
  }
  .lang img{ 
    width: 10px;
    margin-left: 10px;
    color: black;
  }
  .col{
    text-align: right;
    font-weight: 700;
    font-size: larger;
    color: black;
    margin-top: 1px;
  }
  
  .col a {
    color: #0b0b0b;
    text-decoration: underline;

  }
  .col a:link{
    text-decoration: none;
  }

  .col a:visited{
    text-decoration: none;
  }
  .col a:hover{
    text-decoration: underline;
  }



  * {
    box-sizing: border-box;
  }
  
  
  #regForm {
    background-color: white;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    max-width: 440px;
  }
  
  h1 {
    text-align: center; 
    font-weight: 500; 
    margin: 0 0 0.4rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }
  p{
    text-align: center;
    font-size: 18px;
  }
  
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 20px 10px 10px 20px;
    margin:  10px 0 ;
    border-radius: 2px;
    border: 1px solid gray;
    background-color: white;
    color: black;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
  }
  
   ul{
    list-style: none;
    text-align: left;
    line-height: 50px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }
   ul li::before{
  content: '✓';
  color: #e50914;
  size: 40px;
  letter-spacing: 10px;
  
}
  
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;;
  }
  
  .nxt {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: none;
    background-color: #e50914;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    min-height: 64px;
    cursor: pointer;
    text-align: center;
    position: relative;
    float: centre;
    
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: red;
  }